<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503863571338-1es9ge6q96avkr0re8a0lvdbbgc761p3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503863571338-1es9ge6q96avkr0re8a0lvdbbgc761p3</string>
	<key>API_KEY</key>
	<string>AIzaSyDbDH-2EH2k5CLLkVFH6j34GwkvOaBYhAE</string>
	<key>GCM_SENDER_ID</key>
	<string>503863571338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapppradeep.newApp</string>
	<key>PROJECT_ID</key>
	<string>stellar-aleph-365809</string>
	<key>STORAGE_BUCKET</key>
	<string>stellar-aleph-365809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503863571338:ios:7ededb0ce53bf4290d0e73</string>
</dict>
</plist>